* {
    /*normalizamos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}


.header1{
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-image: url("../images/hockey_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header2{
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-image: url("../images/hockey_2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header3{
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-image: url("../images/hockey_3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.logo{
    width: 150px;
    height: 150px;
}



section h2{
    background-color:black;
    color:white;
    height: 3rem;
    padding: .5em;
    text-align: center;
    border: solid 1px white;
}


nav a {
    font-size: 20px;
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    background-color: black;
    height: 2em;
    width: 5em;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
}

nav{
    position: absolute;
    top: 1vh;
    right: 1vw;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

article{
    margin: 4em;
}

h1{
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

article h2{
    border: none;
    text-align: start;
}

article a{
    text-decoration: none;
    color: yellow;
}

#mdhl-modif{
    text-align: center;
    font-size: large;
}

ul{
    list-style-type:circle;
    margin: 2em;
}   

ol{
    margin: 2em;
}

